body {
    background-color:#D8E9F1;
    text-align:center;
    padding:0px;
    margin:0px;
    font-size:10pt;
    font-family:'Comic Sans MS', sans-serif;
}

html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; width:900px; margin:0px auto; }
#content { padding-bottom:5em; padding-top:7em; }

div#content {
    width:900px;
    text-align:center;
    margin:0px auto;
    height:100%;
    float:left;
}

div.clearfix {
    clear:both;
}

h2 {
    font-size:18pt;
    margin:5px 5px 5px 5px;
    letter-spacing:2px;
}

h1 {
    font-size:24pt;
    margin:0px 5px 0px;
    letter-spacing:2px;
}

.white-box {
    box-shadow:inset 0 0 10px rgba(0,0,0,0.5);
    border-radius:12px;
    background:#FAFAFA;
}

.white-square {
    box-shadow:inset 0 0 3px rgba(0,0,0,0.5);
    background:#FAFAFA;
}

#header, #footer {
    box-shadow:rgba(0,0,0,0.5) 0px 0px 24px;
    width:100%;
    clear: both;
    position: relative;
    z-index: 10;
}

#header {
    margin-bottom: -5em;
    height: 4em;
    padding-top:10px;
}

#header img {
    margin-bottom:-10px;
    margin-right:10px;
}

#footer {
    height: 5em;
    margin-top: -5em;
    text-align:center;
}

#footer ul {
    list-style:none;
    margin:0px auto;
    padding:35px;
    width:875px;
}

#footer ul li {
    float:left;
    margin-left:110px;
}

#footer a {
    color:#000;
    text-decoration:none;
}

.hidden {
    visibility:hidden;
}

#projURL {
    width:650px;
    height:30px;
    margin-right:15px;
    font-size:14pt;
}
#projSubmit {
    height:30px;
    font-size:16pt;
}

#project_QR {
    float:right;
    width:250px;
    border:2px solid #000;
    margin-right:-15px;
}
#project_info {
    float: left;
    margin: -10px 0px 10px -34px;
    width: 900px;
    text-align:center;
}
#projImage {
    float:left;
    width:250px;
    margin-left:-15px;
}

#projImage, #projQR {
    box-shadow:rgba(0,0,0,0.5) 0px 0px 12px;
}

#projDesc {
    float:left;
    width:285px;
    font-size:10pt;
    text-align:left;
    padding:10px;
}

#middle {
    float:left;
    width:285px;
    margin-left:25px;
}

h4{
    margin:0px;
    padding:0px;
    margin-bottom:5px;
    font-size:14pt;
}

#accordion {
    text-align:left;
}

#prodURL {
    display:block;
    width:250px;
    height:250px;
}

.product {
    height: 275px;
    padding: 10px;
    width: 250px;
}

.product a {
    text-decoration:none;
}

.prodDetails {
    width:250px;
    text-align:center;
}
#prodImage {
    margin-top:10px;
    margin-left:5px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background:transparent;
    border:0px;
}

#btnNext {
    width:280px;
    height:30px;
    margin-left:15px;
    float:left;
}