<div id="project_URL">
    <h3>Copy/Paste DonorsChoose.org Project URL</h3>
    <input id="txtProjURL" name="txtProjURL" value="http://www.donorschoose.org/donors/proposal.html?id=######" />
</div>

<div id="project_QR">
    <img id="imgProjQR" src="" width="250" height="250" />
</div>

<% content_for :header do %>Which Project Do You Want to Support?<% end %>
<%= javascript_include_tag "DCHEQR" %>