<div id="project_URL">
    <h3>Copy/Paste DonorsChoose.org Project URL</h3>
    <input type="text" id="projURL" name="txtProjURL" value="http://www.donorschoose.org/donors/proposal.html?id=######" />
    <input type="submit" id="projSubmit" value="OKGO" />
</div>

<div id="project_QR">
    <img id="projQR" src="" width="250" height="250" />
</div>

<div id="project_info">
    <span id="projTitle"></span>
    <span id="projSchool"></span>
    <span id="projCity"></span>, <span id="projState"></span>
    <img id="projImage" src="" />
    <span id="projDesc"></span>
</div>

<div id="products">
    <div class="product">
        <a id="prodURL" href="#">
            <span id="prodName"></span>
            <span id="prodPrice"></span>
            <img id="prodImage" src=""></img>
        </a>
    </div>
</div>

<% content_for :header do %>Which Project Do You Want to Support?<% end %>
<%= javascript_include_tag "DCHEQR" %>